<!DOCTYPE html>
<html lang="es" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'referencias.html '%}
</head>
<body>
    {% include 'navbar.html' %}
    
    <div class="row">
        <p class="h2 text-center my-3"> Quienes somos?   </p>
    </div>

    <div class="container center">
        <div class="row my-4 justify-content-center">
            <div class="col-8 border border-black rounded-2 p-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid optio nemo hic similique. Porro illum quidem dolor deserunt expedita nemo magnam dignissimos, minima ratione maiores ipsum sit at cumque reprehenderit?</p>
            </div>
            <div class="col-2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam tempora totam, iste dolore cum doloribus dolorem libero. Maxime maiores ullam vel quidem amet quod, tenetur rem sequi eius! Dolore, perferendis.</p>
                <img src="" alt="">
            </div>
        </div>
    </div>
    <div class="container items-center">
        <div class="row my-5 justify-content-center">
            <div class="col-3">
                <div class="card shadow" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card shadow" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card shadow" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-4 justify-content-center">
            <div class="col-2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam tempora totam, iste dolore cum doloribus dolorem libero. Maxime maiores ullam vel quidem amet quod, tenetur rem sequi eius! Dolore, perferendis.</p>
                <img src="" alt="">
            </div>
            <div class="col-8 border border-black rounded-2 p-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid optio nemo hic similique. Porro illum quidem dolor deserunt expedita nemo magnam dignissimos, minima ratione maiores ipsum sit at cumque reprehenderit?</p>
            </div>
        </div>
    </div>
    <footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">
            
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Nombre de la Empresa</h5>
                <p>
                    Aquí puedes poner una breve descripción de tu empresa, misión o eslogan.
                </p>
            </div>
            
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Productos</h5>
                <p><a href="#" class="text-white" style="text-decoration: none;">Productos</a></p>
                <p><a href="#" class="text-white" style="text-decoration: none;">Precios</a></p>
                <p><a href="#" class="text-white" style="text-decoration: none;">Socios</a></p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Enlaces Útiles</h5>
                <p><a href="#" class="text-white" style="text-decoration: none;">Tu Cuenta</a></p>
                <p><a href="#" class="text-white" style="text-decoration: none;">Ayuda</a></p>
                <p><a href="#" class="text-white" style="text-decoration: none;">Términos</a></p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Contacto</h5>
                <p>
                    <i class="fas fa-home me-3"></i> Ciudad, País
                </p>
                <p>
                    <i class="fas fa-envelope me-3"></i> email@ejemplo.com
                </p>
                <p>
                    <i class="fas fa-phone me-3"></i> +52 55 1234 5678
                </p>
            </div>

        </div>

        <hr class="mb-4">

        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p>Derechos de Autor © 2025. Todos los derechos reservados por:
                    <a href="#" style="text-decoration: none;">
                        <strong class="text-primary">NombreDeLaEmpresa</strong>
                    </a>
                </p>
            </div>
            
            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-end">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>