{% load static %}
<!DOCTYPE html>
<html lang="es" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    {% include 'referencias.html' %}
</head>
<body>
    {% include 'navbar.html' %}

    <h2>Promociones Especiales de Temporada</h2>

    <div class="container">
        <div class="row m-5">

            <div class="col-3 m-5">
                <div class="card shadow" style="width: 18rem;">
                <img src="{% static 'img/menu1.jpg' %}" class="card-img-top" alt="promo1">
                    <div class="card-body">
                        <p class="card-text">Promo random</p>
                    </div>
                </div>
            </div>

            <div class="col-3 m-5">
                <div class="card shadow" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="promo2">
                    <div class="card-body">
                        <p class="card-text">Promo random</p>
                    </div>
                </div>
            </div>

            <div class="col-3 m-5">
                <div class="card shadow" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="promo3">
                    <div class="card-body">
                        <p class="card-text">Promo random</p>
                    </div>
                </div>
            </div>

            <div class="col-3 m-5">
                <div class="card shadow" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="promo4">
                    <div class="card-body">
                        <p class="card-text">Promo random</p>
                    </div>
                </div>
            </div>

            <div class="col-3 m-5">
                <div class="card shadow" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="promo5">
                    <div class="card-body">
                        <p class="card-text">Promo random</p>
                    </div>
                </div>
            </div>

            <div class="col-3 m-5">
                <div class="card shadow" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="promo6">
                    <div class="card-body">
                        <p class="card-text">Promo random</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <h1>Nuestro Menu</h1>
    <p>Cafés y postres preparados con amor y un Pedacito de Cielo</p>

    <div style="text-align: center;">

        <!-- los bordes los pongo mientras pero los planeaba quitar -->
        <!-- las imagenes ya estan en la carpeta -->
        <style>
            table {
                border-collapse: collapse;
                margin: 20px auto;
            }

            th, td {
                border: 1px solid black;
                padding: 8px;
            }
        </style>

        <table border="1">
            <tr>
                <th>Bebidas</th>
                
            </tr>
            <tr>
                <td>Café Americano – Clásico y suave, solo espresso con agua caliente.</td>
                <td>*imagen*</td>
            </tr>
            <tr>
                <td>Cappuccino – Espresso con leche vaporizada y una capa de espuma.</td>
                <td>*imagen*</td>
            </tr>
            <tr>
                <td>Latte – Espresso con mucha leche vaporizada, más cremoso y ligero.</td>
                <td>*imagen*</td>
            </tr>
        </table>
    </div>

    <div style="text-align: center;">
        <table border="1" >
            <tr>
                <th>Postres</th>
                
            </tr>
            <tr>
                <td>Cheesecake – Rebanada cremosa con base de galleta.</td>
                <td>*imagen*</td>
            </tr>
            <tr>
                <td>Brownie – Pastelito de chocolate suave y ligeramente húmedo.</td>
                <td>*imagen*</td>
            </tr>
            <tr>
                <td>Pay de manzana – Rebanada de manzana con canela y masa doradita.</td>
                <td>*imagen*</td>
            </tr>
        </table>
    </div>

</body>
</html>